

.conteudo{
    padding: 40px;
    width: 600px;
    font-size: 18px;
    display: flexbox;
    margin: auto;
    margin-top: 60px;
    border-radius: 12px;
    border: 1px solid black;
    
 
    
}
