body {
  padding-top: 50px;
}

.spacer {
  margin-top: 2%;
  margin-bottom: 2%;
}

.block {
  height: 300px;
  padding-top: 15px;
  background-color: darkorange;
}

.block2 {
  min-height: 160px;
  padding-top: 15px;
}

.center {
  position: absolute;
  /*  top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
}