.container_principal{
  background: url(../src/assets/buda.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-size:auto;
  border: 1px solid red;
  width: auto;

}

.spacer {
  margin-top: 2%;
  margin-bottom: 2%;
  position: absolute;
}

.block {
  height: 300px;
  padding-top: 15px;
  background-color: darkorange;
}

.block2 {
  min-height: 160px;
  padding-top: 15px;
}

.center {
  position: absolute;
  /*  top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
}

