*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  

}

body {
  padding-top: 50px;

}

.form-style{
  position:absolute;
    top: 50%;
    left: 50%;
    width: 46rem;
    padding: 4rem;
    transform: translate(-50%, -50%);
    background: #eee8ce;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;

}


.row-style{
  padding: 10px;
  background-color: #eee8ce;
}

.spacer {
  margin-top: 2%;
  margin-bottom: 2%;
  position: absolute;
}

.block {
  height: 300px;
  padding-top: 15px;
  background-color: darkorange;
}

.block2 {
  min-height: 160px;
  padding-top: 15px;
}

.center {
  position: absolute;
  /*  top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
}

